body{
    background-color: rgb(180, 179, 175);
    margin: auto;

}


h1{
     margin: 0;
     padding:  0;
     color: #101111;
     text-align: center;
     }
.wer{
    background-color: darkorange;
    border-radius: 2%;
    box-shadow: darkslategray;
    border: 2px solid black;
    margin: 0;
    padding: 0mm;
}
h2{
    text-align: center;
    }
.v{
    text-align:center;
    font-size: 20px;
}
img{
    height: 400px;;
    width: 500px;
    
    padding: 5px;
    border-radius:10%;
    display: block;
    margin: 0 auto;
}
head{
    text-align: center;
}
.p{ 
    text-align:center;
    font-size: 20px;
    
}
.k{
    text-align:center;
    font-size: 20px;

}
.fir{
    background-color: rgb(45, 241, 28);
    border-radius: 2%;
    box-shadow: darkslategray;
    border: 2px solid black;
    margin: 0;
    padding: 0;
}
.sek{
    background-color: rgb(236, 240, 8);
    border-radius: 2%;
    box-shadow: darkslategray;
    border: 2px solid black;
    margin: 0;
    padding: 0mm;
}
.ma{
    background-color: rgb(204, 170, 170);
    border-radius: 0mm;
    border: 2px solid rgb(204, 170, 170);
    padding-left:36%;
}
.uu{
    text-align:center;
    font-size: 35px;
    padding:0;
    margin: 0mm;
}
li{
    font-size: 20px;
    padding-top:1%;
}
.vv{
    text-align: center;
    text-decoration: overline;
    
}
.pp{text-align: center;}
.kk{text-align: center;}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{ font-family: cursive;}


header{
    max-height: 1180PX;
    background-color: rgb(15, 15, 15);

}
.container{
    max-width: 1180px;
    color: cornsilk;
    display: flex;
    justify-content: space-around;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items:center ;
}
.logo{
    font-size: 50px;
}
.nav{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
}
.nav>li{ margin-left:20px;
font-size: 15px;}
.fl{
    margin:1% 2% 1% 2% ;
    padding:1% 2% 1% 2%;
    height: 15%;
    width: 10%;
}
    


