*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,header{
    width: 100%;
    height: 100%;
}
/* туризм .первая часть */
header{
    background-image: url(../img/443fc3db-08d1-41cc-8aac-991a814ebf30.jfif);
    background-size: cover;
    color: rgb(211, 225, 238);
    display:flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    margin-left: 0px;
}
h1{
    width: 100%;
    text-align: center;
    padding-top: 75px;
    font-size: 20px;
}
.header-text{
align-content: center;
margin-left: 150px;
width: 40%;
}
.t-first{
    color: rgb(255, 246, 246);
    font-size: 30px;
    text-transform: uppercase;
}
.t-second{
    font-size: 60px;
    text-transform: uppercase;
}
.t-third{
    color: honeydew;
    width: 800px;
    margin-left: 5px;
}
/* туризм.вторая часть */

/*
main{
    height: 100%;
} 
main section{
    display: flex;
    margin: auto;
    width: 80%;
}
.title1{
    display: flex;
    margin: 2%;
}
.text1{
    display: flex;
    margin: 2%;
}

.gallery img div{
    width: 100%;
    display: flex;
    
}
.f1{
    width: 95%;
}
.f2{
    width: 100%;
    margin-bottom: 10px;
}
.f3{
    width: 100% ;
}
*/
main{
    height: 100%;
}
main section{
    display: flex;
    margin: auto;
    width: 80%;
}
.gallery-text{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}
.gallery img img{
    display: flex;
}

.text2{
    margin-left:5%;
}
.f1{
    width: 95%;
}
.f2{
    width: 100%;
    margin-bottom: 10px;
}
.f3{
    width: 100% ;
}
/*третья часть*/
footer{
    height: 300px;
    background-image: url(../img/img3\ \(1\).jpg);
    background-size: cover;
    background-position:center ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin-top: 10%;
}
footer p {
    width: 40%;
    font-size: 24px;
    text-align: center;
}
h3{
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
}
  